
/************
 * Navbar
 * **************/
.navbar{

	background-color: #023047;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1.5em;
}

.nav-link{

	font-weight: bold;
	font-size: 1.5em;
	color: #FFB706;
}

.nav-link:hover{
	text-decoration: underline #FFB706;
    color: white;
}

/* Home First-section*/

.first-section{

	background-color: #023047;
}


.portfolio{
	display: flex;
	justify-content: center;
}


.img-portfolio{

	width: 20%;
	border-radius: 100%;
	margin:2em ;
}

.div-title-name{
  display: flex;
  justify-content: center;
  color: #FFB706;
}


.name{
font-size: 5em;
font-weight: bold;
}

.div-description{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.description-about{
	color: white;
	text-align: center;
	font-size: 1em;
}


.div-hr{
display: flex;
justify-content: center;

}

.hr-home{
color: white;
width: 20%;

}

.section-about{

background-color: #023047;

}

.contact-icons{
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 2em;
}

.bi-linkedin{
  margin: 1em;
  color: antiquewhite;

}

.bi.bi-linkedin:hover{
	color: antiquewhite;
}

.bi-github{
  margin: 1em;
  color: antiquewhite;

}

.bi.bi-github:hover{
	color: antiquewhite;
}

/*Home Second Section*/

.second-section{
background-color: white;

}

.title-second-section{
 display: flex;
 justify-content: center;
 margin-top: 0.5em;
 font-size: 4em;
 color:blue ;

}

.h3-second-section{
	display: flex;
	justify-content: center;
	margin-top:0.5em ;
	font-size: 3em;
	color: blue;
}

.skills-icons{
  display: flex;
  justify-content: center;
  margin: 0;

}

.img-1{
  width: 4%;
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description-img{
	text-align: center;
	font-weight: bold;
}



.skills-icons2{
	display: flex;
	justify-content: center;
	margin: 0;
}


.div-description-about{
	text-align: center;
}

.description-about{
	color: white;
	font-size: 1em;
}


/*Esperienze First section  */


.first-section-experience {

   background-color: #023047;
   padding-left: 1.5em;
   padding-bottom: 2em;


}



.div-title-education{

	display: flex;
}

.h3-education{
  color: #FFB706;
  font-size: 3em;

}

.bi-book{
color:#FFB706 ;
margin-top: 0.5em;
margin-left: 1em;
}

.p-data{
	color: white;
	margin-bottom: 0;
}

.p-description{

	color: white;
}

.div-title-professional{
  display: flex;

}

.title-education{
	color: #FFB706;
	margin-top: 1em;
}

.description-education{
	color: white;
}


/*Esperienze secondo section */


.second-section-professional{
	color: blue;
	padding-left: 1.5em;
	padding-bottom: 2em;
	padding-top: 2em;

}


.title-professional{

margin-bottom: 0;

}


.data-professional{

	margin-bottom: 0;
}


.job-title-experience{

	margin-bottom: 0.5em;
}



.bi-suitcase-lg-fill{

  margin-top: 0.3em;
  margin-left: 1em;

}